<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang = "ru">
    <meta charset="UTF-8">
    <title>{{ htmlWebpackPlugin.options.data.home.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta content="telephone=no" name="format-detection">

    {{#each htmlWebpackPlugin.files.css }}
	<link href="{{this}}" rel="stylesheet"></head>
	{{/each}}
    
	{{!-- <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png"> --}}
	<link rel="icon" type="image/png" href="favicon/fav.png" sizes="32x32">
	{{!-- <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5"> --}}
	<meta name="theme-color" content="#ffffff">
</head>

<body>

	<p>Normal</p>
	<p><i class="icon icon_weback"></i></p>
	<p>Retina</p>
	<p><i class="icon icon_weback-r"></i></p>

	{{!-- Example --}}
	{{!-- {{> footer htmlWebpackPlugin.options.data.home}} --}}

	{{#each htmlWebpackPlugin.files.js }}
	<script type="text/javascript" src="{{this}}"></script>
	{{/each}}
</body>
</html>

