//Example
// @font-face {
//     font-family: 'bodoniflfbold';
//     src: url('../fonts/bodoniflf-bold-webfont.eot');
//     src: url('../fonts/bodoniflf-bold-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/bodoniflf-bold-webfont.woff2') format('woff2'),
//          url('../fonts/bodoniflf-bold-webfont.woff') format('woff'),
//          url('../fonts/bodoniflf-bold-webfont.svg#bodoniflfbold') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
