// placeholder color
@mixin placeholder-color($color) {
    &.placeholder {
        color: $color;
    }
    &:-moz-input-placeholder {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color: $color;
    }
}


//media mixins
@mixin respond-to($media) {
    @if $media == desktop-small {
        @media only screen and (min-width: 1025px) and (max-width: 1280px) { @content; }
    }
    @if $media == desktop {
        @media only screen and (min-width: 1281px) { @content; }
    }
    @if $media == tablet {
        @media only screen and (max-width: 1024px) { @content; }
    }
    @if $media == mobile {
        @media only screen and (min-width: 768px) and (max-width: 960px) { @content; }
    }
    @if $media == mobile-small{
        @media only screen and (max-width: 767px) { @content; }
    }
}